/* ==========================================================================
   Variables Section
   ========================================================================== */ 







/* Colors
   ========================================================================== */
$color-3: #3a3f3e;  //gray-text
$color-4: #c7ad73;  //gold
$color-5: #e0e0e0;  //gray-footer
$color-6: #fff;     //white
$color-10: #201109; //dark-wood
$color-11: #ded4cb; //mouse
$color-12: #ede6e1; //mouse - blog section



//$color-1: #daecec;  //pale-blue 48
//$color-2: #f8f5ea;  //beige 48 
//$color-7: #aecdcb;  //blue-social 48
//$color-8: #f3efdf;  //darker beige 48

//$color-9: #e8e4d3;  //beige-borders 48

 







/* Max width
   ========================================================================== */
$max-width: 1183px;
  